---
import Layout from '../layouts/Layout.astro';
import ContactSection from '../components/Contact.astro';
---

<Layout title="Contact" pageClass="contact-page">
  <div style="margin-top: 56px;"></div>
  <ContactSection />
</Layout>
