---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Contact" pageClass="contact-page">
  <div style="margin-top: 56px;"></div>
  <Contact />
</Layout>
