---
---

<section id="about">
  <div class="container">
    <h2 class="section-title">About Me</h2>
    <p class="section-text">
      I am currently studying IT at the high school Tangen videregående skole in Norway, and I am going to take the IT operations technician program to get a trade certificate.
      I have a passion for technology and enjoy building projects that solve real-world problems.
      I am always eager to learn new skills and take on new challenges.
    </p>
  </div>
</section>
