---
---

<section id="about">
  <div class="container">
    <h2 class="section-title">About</h2>
    <p class="section-text">
      I know python, javascript, html and
      css. I have also a good knowledge about
      Claude, tcp/ip, and more. See if I
      qualify for your job.
    </p>
    <div class="about-cta">
      <a href="#qualifications" class="btn btn-outline">See here</a>
    </div>
  </div>
</section>
