---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/index.css';

interface Props {
  title: string;
  pageClass?: string;
}

const { title, pageClass = '' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/logo.webp" type="image/webp" />
    <title>{title} | the-victor</title>
  </head>
  <body class={pageClass}>
    <Navigation />
    <slot />
    <Footer />
    <script>
      import '../scripts/scroll-reveal.ts';
    </script>
  </body>
</html>
